footer {
    background-color: white;
    height: 60px; 
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-top: 65vh;
    border-top: 1px solid #cccccc;
    /* position: fixed; */
    display: flex;
    justify-content: center;
}
