.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: 11px;
    margin-bottom: 11px;
    opacity: 96%;
}

section.filters button:hover {
    opacity: 80%;
}

.locations, .amenities {
    text-align: left;
    height: 100%;
    width: 25%;
    float: left;
    margin-left: 30px;
}
.locations{
    border-right: solid 1px #DDDDDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 17px;
}

.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.popover li {
    list-style: none;
}

.popover {
    display: none;
    width: 95%;
    border: 1px solid #c2baba;
    background-color: #FAFAFA;
    border-radius: 4px;
    margin-left: -31px;
    margin-top: 7%;
    position: relative;
    
}
.popover_list{
    padding:0px;
    margin:0px;
    padding-left: 6%;
}

.popover li h2 {
    font-size: 16px;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

div.locations:hover ul.popover,
div.amenities:hover ul.popover {
    display: block;
}
